<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="firstname"
                [ngModelOptions]="{ standalone: true }"
                id="firstName"
                name="firstName"
                required
              />
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="lastname"
                [ngModelOptions]="{ standalone: true }"
                id="lastName"
                name="lastName"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="email"
                [ngModelOptions]="{ standalone: true }"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [(ngModel)]="password"
                [ngModelOptions]="{ standalone: true }"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary" (click)="save()">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
